.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg1.jpg");

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      font-size: 3rem;
      color: white;
    }
  }

  .content-footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      color: white;

      a {
        font-weight: 700;
        color: darken(whitesmoke, 10%);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
